@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

#header {
  font-family: 'Questrial', sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #A4B4DE;
}

.navbar a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  background-color: #7581D0;
  color: #FFFFFF;
}

.navbar a.active {
  background-color: #FFFFFF;
  color: Black;
}
    
        
